
@font-face {
  font-family: 'klartext_monolight';
  src: url('../font/KlartextMono-Light-webfont.eot');
  src: url('../font/KlartextMono-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/KlartextMono-Light-webfont.woff2') format('woff2'),
       url('../font/KlartextMono-Light-webfont.woff') format('woff'),
       url('../font/KlartextMono-Light-webfont.ttf') format('truetype'),
       url('../font/KlartextMono-Light-webfont.svg#klartext_monolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
	width: 100%;
}

body {
	background-color: black;
	color: white;
	font-family: "klartext_monolight", sans-serif;
	font-weight: 100;
	margin: 0px;
  font-size: 16px;
}

main {
	margin: 0px;
}

.tmp {
  background-color: black;
}

h1 {
	font-size: 100px;
	margin: 0px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
  color: #404040;
  text-decoration: none;
  transition: all .25s; 
  -moz-transition: all .25s; 
  -webkit-transition: all .25s;
}

#title{
  margin-top: 50px;
	margin-left:0px;
}

.myclass{
	background-color: #909090;
	max-width:400px;
	height: 172px;
	text-align: center;
	margin-right: 10px;
	display:inline-block;
	vertical-align: center;
}

.myclass h1 {
	font-size: 124px;
	padding-right: 50px;
	padding-left: 100px;
	
}

.about {
	background-color: #909090;
	width: 70%;
	margin-left:0px;
	text-align: center;
	padding:30px;
	margin-bottom:20px;
}

.link {
	background-color: #909090;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 170%;
	text-align: center;
	display:inline-block;
	margin-right: 5px;	
}

.about h3 {
	text-align: left;
	font-size: 130%;
	margin: 0px;
}

.hashtag h2 {
	text-align: left;
	font-size: 170%;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.color-block-big {
  width: 20px;
  height: 172px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: -4px;
}

.color-block-small {
  width: 10px;
  height: 51px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;
  margin-left: -6px;
}

.blue {
  background-color: #93E3F5;
}

.orange {
  background-color: #FFD17D;
}

.pink {
  background-color: #ECA2EC;
}

.green {
  background-color: #A0E185;
}

.row {
  max-width: 1060px;
  margin-right:0px;
  margin-left:0px
}

.logo {
  transition: all 0.1s;
}

.loading {
  transition: all 0.2s;
}

.example:hover {
  background: rgb(40, 40, 40);
}

.button:hover {
  opacity: 0.9 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: none;
} 

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.176); 
} 

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.3); 
} 

::-webkit-scrollbar-button {
  background-color: rgb(200,200,200);
} 

::-webkit-scrollbar-corner {
  background-color: black;
}

@media (max-width: 480px) {
	h1 {
    font-size: 100px;
    margin: 0px;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }

  a:hover {
    color: #404040;
    text-decoration: none;
    transition: all .25s; 
    -moz-transition: all .25s; 
    -webkit-transition: all .25s;
  }

  #title {
    margin-top: 50px;
	  margin-left:0px;
  }

  .myclass {
    background-color: #909090;
	  max-width:400px;
	  height: 100px;
	  text-align: center;
	  margin-right: 10px;
	  display:inline-block;
	  vertical-align: center;
  }

  .myclass h1{
    font-size: 50px;
    padding-right: 20px;
	  padding-left: 20px;
	}

  .about {
	  background-color: #909090;
	  width: 70%;
	  margin-left:0px;
	  text-align: center;
	  padding:20px;
	  margin-bottom:20px;
	}

  .link {
	  background-color: #909090;
	  color: #fff;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 20px;
	  padding-right: 20px;
	  font-size: 14px;
	  text-align: center;
	  display:inline-block;
	  margin-right: 5px;
	}

  .secondlink {
	  background-color: #909090;
	  color: #fff;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 20px;
	  padding-right: 20px;
	  font-size: 14px;
	  text-align: center;
	  display:inline-block;
	  margin-left: 20px;
	  margin-right: 5px;
	}

  .about h3 {
	  text-align: left;
	  font-size:14px;
	  margin:0px;
	}

  .hashtag h2 {
	  text-align: left;
	  font-size:16px;
	  padding-left: 20px;
	  padding-top: 10px;
	  padding-bottom: 10px;
  }

  .colorblockblue {
    background-color: #93E3F5;
	  width: 20px;
	  height: 100px;
	  display:inline-block;
	  position:absolute;
  }

  .colorblockorange{
    background-color: #FFD17D;
	  width: 10px;
	  height: 37px;
	  display:inline-block;
	  position:absolute;
	  padding: 0px;
  }

  .colorblockpink{
    background-color: #ECA2EC;
	  width: 10px;
	  height: 37px;
	  display:inline-block;
	  position:absolute;
	  padding: 0px;
  }

  .colorblockgreen{
    background-color: #A0E185;
	  width: 10px;
	  height: 37px;
	  display:inline-block;
	  position:absolute;
	  padding: 0px;
  }

  .row {
    max-width: 1060px;
    margin-right:0px;
    margin-left:0px
  }
}

@media (max-width: 768px){

  .myclass{
	  background-color: #909090;
	  max-width:400px;
	  height: 100px;
	  text-align: center;
	  margin-right: 10px;
	  display:inline-block;
	  vertical-align: center;
  }

  .myclass h1{
	  font-size: 78px;
	  padding-right: 20px;
	  padding-left: 20px;
	}

  .about {
	  background-color: #909090;
	  width: 70%;
	  margin-left:0px;
	  text-align: center;
	  padding:20px;
	  margin-bottom:20px;
	}

  .link{
	  background-color: #909090;
	  color: #fff;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 20px;
	  padding-right: 20px;
	  font-size: 14px;
	  text-align: center;
	  display:inline-block;
	  margin-right: 5px;
	}

  .secondlink {
	  background-color: #909090;
	  color: #fff;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 20px;
	  padding-right: 20px;
	  font-size: 14px;
	  text-align: center;
	  display:inline-block;
	  margin-left: 20px;
	  margin-right: 5px;
	}

  .about h3 {
	  text-align: left;
	  font-size:14px;
	  margin:0px;
	}

  .hashtag h2 {
	  text-align: left;
	  font-size:16px;
	  padding-left: 20px;
	  padding-top: 10px;
	  padding-bottom: 10px;
  }


  .colorblockblue {
    background-color: #93E3F5;
	  width: 20px;
	  height: 100px;
	  display:inline-block;
	  position:absolute;
  }

  .colorblockorange {
    background-color: #FFD17D;
	  width: 10px;
	  height: 37px;
	  display:inline-block;
	  position:absolute;
	  padding: 0px;
  }

  .colorblockpink {
    background-color: #ECA2EC;
	  width: 10px;
	  height: 37px;
	  display:inline-block;
	  position:absolute;
	  padding: 0px;
  }

  .colorblockgreen {
    background-color: #A0E185;
	  width: 10px;
	  height: 37px;
	  display:inline-block;
	  position:absolute;
	  padding: 0px;
  }

  .row {
    max-width: 1060px;
    margin-right:0px;
    margin-left:0px
  }
}
