<ul>
<li><a href="#initialization">Initialization</a><ul>
<li><a href="#as-a-fullscreen-canvas">As a fullscreen canvas</a></li>
<li><a href="#from-a-container-div">From a container div</a></li>
<li><a href="#from-a-canvas">From a canvas</a></li>
<li><a href="#from-a-webgl-context">From a WebGL context</a><ul>
<li><a href="#initialization-options">Initialization options</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#commands">Commands</a><ul>
<li><a href="#executing-commands">Executing commands</a><ul>
<li><a href="#one-shot-rendering">One-shot rendering</a></li>
<li><a href="#batch-rendering">Batch rendering</a></li>
<li><a href="#scoped-commands">Scoped commands</a></li>
</ul>
</li>
<li><a href="#inputs">Inputs</a><ul>
<li><a href="#context">Context</a></li>
<li><a href="#props">Props</a></li>
<li><a href="#this"><code>this</code></a></li>
</ul>
</li>
<li><a href="#parameters">Parameters</a><ul>
<li><a href="#shaders">Shaders</a></li>
<li><a href="#uniforms">Uniforms</a></li>
<li><a href="#attributes">Attributes</a></li>
<li><a href="#drawing">Drawing</a></li>
<li><a href="#render-target">Render target</a></li>
<li><a href="#depth-buffer">Depth buffer</a></li>
<li><a href="#blending">Blending</a></li>
<li><a href="#stencil">Stencil</a></li>
<li><a href="#polygon-offset">Polygon offset</a></li>
<li><a href="#culling">Culling</a></li>
<li><a href="#front-face">Front face</a></li>
<li><a href="#dithering">Dithering</a></li>
<li><a href="#line-width">Line width</a></li>
<li><a href="#color-mask">Color mask</a></li>
<li><a href="#sample-coverage">Sample coverage</a></li>
<li><a href="#scissor">Scissor</a></li>
<li><a href="#viewport">Viewport</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#resources">Resources</a><ul>
<li><a href="#buffers">Buffers</a><ul>
<li><a href="#constructor">Constructor</a></li>
<li><a href="#update">Update</a></li>
<li><a href="#destroy">Destroy</a></li>
</ul>
</li>
<li><a href="#elements">Elements</a><ul>
<li><a href="#constructor-1">Constructor</a></li>
<li><a href="#update-1">Update</a></li>
<li><a href="#destroy-1">Destroy</a></li>
</ul>
</li>
<li><a href="#textures">Textures</a><ul>
<li><a href="#constructor-2">Constructor</a></li>
<li><a href="#update-2">Update</a></li>
<li><a href="#destroy-2">Destroy</a></li>
</ul>
</li>
<li><a href="#cube-maps">Cube maps</a><ul>
<li><a href="#constructor-3">Constructor</a></li>
<li><a href="#update-3">Update</a></li>
<li><a href="#destroy-3">Destroy</a></li>
</ul>
</li>
<li><a href="#render-buffers">Render buffers</a><ul>
<li><a href="#constructor-4">Constructor</a></li>
<li><a href="#update-4">Update</a></li>
<li><a href="#destroy-4">Destroy</a></li>
</ul>
</li>
<li><a href="#framebuffers">Framebuffers</a><ul>
<li><a href="#constructor-5">Constructor</a></li>
<li><a href="#update-5">Update</a></li>
<li><a href="#destroy-5">Destroy</a></li>
</ul>
</li>
<li><a href="#cubic-frame-buffers">Cubic frame buffers</a><ul>
<li><a href="#constructor-6">Constructor</a></li>
<li><a href="#update-6">Update</a></li>
<li><a href="#destroy-6">Destroy</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#other-features">Other features</a><ul>
<li><a href="#clear-the-draw-buffer">Clear the draw buffer</a></li>
<li><a href="#reading-pixels">Reading pixels</a></li>
<li><a href="#per-frame-callbacks">Per-frame callbacks</a></li>
<li><a href="#device-capabilities-and-limits">Device capabilities and limits</a></li>
<li><a href="#performance-metrics">Performance metrics</a></li>
<li><a href="#clean-up">Clean up</a></li>
<li><a href="#context-loss">Context loss</a></li>
<li><a href="#unsafe-escape-hatch">Unsafe escape hatch</a></li>
</ul>
</li>
<li><a href="#tips">Tips</a><ul>
<li><a href="#reuse-resources--buffers--elements--textures--etc-">Reuse resources (buffers, elements, textures, etc.)</a></li>
<li><a href="#preallocate-memory">Preallocate memory</a></li>
<li><a href="#debug-vs-release">Debug vs release</a></li>
<li><a href="#context-loss-mitigation">Context loss mitigation</a></li>
</ul>
</li>
</ul>